* {
    margin: 0;
}


header {
    grid-area: hd;
    background-color: #2980b9;

}

div {
    grid-area: div;
    background-color: white;
}

main {
    grid-area: ma;
    background-color: rgb(238, 2, 183);

}

nav {
    grid-area: nav;
    background-color: #2980b9;
}

aside {
    grid-area: as;
    background-color: blanchedalmond;
}

section {
    grid-area: se;
    background-color: aquamarine;
}

#wrapper1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr 88fr;
    grid-template-rows: 14fr 86fr;
    grid-template-areas: 
    'div hd'
    'nav ma'
}

.information {
    overflow: scroll;
    margin: 15px;
    padding: 15px;
}




#wrapper2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 12% 44% 44%;
    grid-template-rows: 14% 43% 43% ;
    grid-template-areas: 
    'div hd hd'
    'nav se se'
    'nav se se'
}


.container{
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    overflow: scroll;
    padding: 15px;
    box-sizing: border-box;

}

.card{
    border-radius: 5px;
    height: 100px;
}


.card-size{
    width: 300px;
    height: 200px;
}

.cardinfo{
    padding: 2px 15px;
    width: 300px;
}

#wrapper3 {
    height: 100vh;
    display: grid;
    grid-template-columns: 14% 56% 30%;
    grid-template-rows: 20% 55% 25% ;
    grid-template-areas: 
    'div hd hd'
    'nav ma se'
    'nav as se'
}


#logo {
    width: 200px;
    justify-self: center;
    align-self: center;
}
