* {
    margin: 0;
}

#wrapper1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr 88fr;
    grid-template-rows: 14fr 86fr;
    grid-template-areas: 
    'div hd'
    'nav ma'
}


header {
    grid-area: hd;
    background-color: rgb(170, 36, 36);

}

div {
    grid-area: div;
    background-color: white;
}

main {
    grid-area: ma;
    background-color: rgb(238, 2, 183);

}

nav {
    grid-area: nav;
    background-color: aqua;
}




#wrapper2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 12% 44% 44%;
    grid-template-rows: 14% 43% 43% ;
    grid-template-areas: 
    'div hd hd'
    'nav se se'
    'nav se se'
}

#blocks {
    grid-area: se;
    background-color: beige;
}



#wrapper3 {
    height: 100vh;
    display: grid;
    grid-template-columns: 14% 56% 30%;
    grid-template-rows: 20% 55% 25% ;
    grid-template-areas: 
    'div hd hd'
    'nav ma se'
    'nav as se'
}

aside {
    grid-area: as;
    background-color: blanchedalmond;
}

section {
    grid-area: se;
    background-color: aquamarine;
}

#logo {
    width: 200px;
    justify-self: center;
    align-self: center;
}